#book-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

#now-icon, #tomorrow-icon, #freeship-icon{
    width:36px;
    height: auto;
}

#order-icon{
    width: 24px;
    height: auto;
}